.app_dark_theme {
  --color-bg: #090808;               // Main body background
  --color-sidebar-bg: #1b1b1b;       // Sidebar background
  --color-block-bg: #1b1b1b;         // Widgets or content blocks
  --color-text-primary: #ffffff;     // Primary white text
  --color-text-grey: #6b6b6c;        // Secondary muted grey text
  --color-red: #ff2525;             // Red (alerts, names, terms)
  --color-red-errer: #cd0e0f;            // Red (alerts, names, terms)
  --color-footer-bg: #282828;        // Footer background
  --color-hover: #282828;            // Hover or focus background
  --color-border: #4e4e4eFF;
  --color-text-placeholder: #aaaba7;
  --color-line: #B1B2B5FF;
  --color-border: #e2d5ebFF;
  --color-border-2: #898988FF;
  --color-confirm: #a2a1a1;
  --color-success: #22c55e;
}
