.app_light_theme {
  --color-bg: #f5f5f5;               // Main body background
  --color-sidebar-bg: #ffffff;       // Sidebar background
  --color-block-bg: #ffffff;         // Widgets or content blocks
  --color-text-primary: #1b1b1b;     // Primary dark text
  --color-text-grey: #757575;        // Secondary muted grey text
  --color-red: #e53935;            // Red (alerts, names, terms)
  --color-red-errer: #cd0e0f;            // Red (alerts, names, terms)
  --color-footer-bg: #eeeeee;        // Footer background
  --color-hover: #f0f0f0;            // Hover or focus background
  --color-border: #4e4e4eFF;
  --color-text-placeholder: #aaaba7;
  --color-line: #B1B2B5FF;
  --color-border: #e2d5ebFF;
  --color-border-2: #898988FF;
  --color-confirm: #a2a1a1;
  --color-success: #22c55e;
}
